In [32]:
import pandas as pd
import numpy as np

In [33]:
obj = pd.Series([-53,52,0,9,3,-1])
print(type(obj))

<class 'pandas.core.series.Series'>

In [34]:
obj

In [35]:
npobj = obj.to_numpy()
print(type(npobj))

<class 'numpy.ndarray'>

In [36]:
npobj

In [39]:
pylist = [6,3,67,2,78,3,89,6,2,2]
pdlist = pd.Series(pylist,index=['a','b','c','d','e','f','g','x','y','z'],name='dane')
pdlist

In [40]:
pdlist[['a','c']]

In [41]:
data = {
    'miasto':['Warszawa','Warszawa','Warszawa','Kraków','Kraków','Kraków'],
    'rok':[2017,2018,2019,2018,2019,2020],
    'populacja':[2.7,2.75,2.93,0.85,0.88,0.91]
}

In [42]:
frame = pd.DataFrame(data)
frame

,miasto,rok,populacja
0,Warszawa,2017,2.70
1,Warszawa,2018,2.75
2,Warszawa,2019,2.93
3,Kraków,2018,0.85
4,Kraków,2019,0.88
5,Kraków,2020,0.91

In [43]:
frame2 = pd.DataFrame(data,columns=['rok','miasto','populacja','współczynnik w'],
                     index=['jeden','drugi','trzeci','czwarty','piąty','szósty'])
frame2

,rok,miasto,populacja,współczynnik w
jeden,2017,Warszawa,2.70,NaN
drugi,2018,Warszawa,2.75,NaN
trzeci,2019,Warszawa,2.93,NaN
czwarty,2018,Kraków,0.85,NaN
piąty,2019,Kraków,0.88,NaN
szósty,2020,Kraków,0.91,NaN

In [44]:
frame2['współczynnik w'] = 19.99
frame2

,rok,miasto,populacja,współczynnik w
jeden,2017,Warszawa,2.70,19.99
drugi,2018,Warszawa,2.75,19.99
trzeci,2019,Warszawa,2.93,19.99
czwarty,2018,Kraków,0.85,19.99
piąty,2019,Kraków,0.88,19.99
szósty,2020,Kraków,0.91,19.99

In [45]:
frame2['współczynnik w'] = np.array([4.5,3,4.324,14,12.664,78])
frame2

,rok,miasto,populacja,współczynnik w
jeden,2017,Warszawa,2.70,4.500
drugi,2018,Warszawa,2.75,3.000
trzeci,2019,Warszawa,2.93,4.324
czwarty,2018,Kraków,0.85,14.000
piąty,2019,Kraków,0.88,12.664
szósty,2020,Kraków,0.91,78.000

In [53]:
daty = pd.date_range("20250603",periods=6)
daty

DatetimeIndex(['2025-06-03', '2025-06-04', '2025-06-05', '2025-06-06',
               '2025-06-07', '2025-06-08'],
              dtype='datetime64[ns]', freq='D')

In [60]:
frame3 = pd.DataFrame(np.random.randn(6,5),index=daty,columns=list("ABCDE"))
frame3

,A,B,C,D,E
2025-06-03,1.807777,-1.761921,1.298046,-0.388939,0.083479
2025-06-04,0.863787,-2.218477,0.069633,1.244147,0.908649
2025-06-05,0.106277,0.908152,-0.267794,1.697827,0.581406
2025-06-06,-0.451507,0.971235,-0.754914,-1.315720,-0.071549
2025-06-07,-0.918301,1.387188,1.252055,1.410641,0.222870
2025-06-08,1.942876,-0.999828,0.314696,-0.713907,-1.340120

In [57]:
s = "lajkonik"
print(s)
print(s[3])
print(s[2:5])

lajkonik
k
jko

In [61]:
frame3.head(3)

,A,B,C,D,E
2025-06-03,1.807777,-1.761921,1.298046,-0.388939,0.083479
2025-06-04,0.863787,-2.218477,0.069633,1.244147,0.908649
2025-06-05,0.106277,0.908152,-0.267794,1.697827,0.581406

In [62]:
frame3.tail(4)

,A,B,C,D,E
2025-06-05,0.106277,0.908152,-0.267794,1.697827,0.581406
2025-06-06,-0.451507,0.971235,-0.754914,-1.315720,-0.071549
2025-06-07,-0.918301,1.387188,1.252055,1.410641,0.222870
2025-06-08,1.942876,-0.999828,0.314696,-0.713907,-1.340120

In [63]:
frame3.describe()

,A,B,C,D,E
count,6.000000,6.000000,6.000000,6.000000,6.000000
mean,0.558485,-0.285608,0.318620,0.322341,0.064123
std,1.181182,1.563877,0.823279,1.279770,0.774169
min,-0.918301,-2.218477,-0.754914,-1.315720,-1.340120
25%,-0.312061,-1.571398,-0.183437,-0.632665,-0.032792
50%,0.485032,-0.045838,0.192165,0.427604,0.153175
75%,1.571779,0.955465,1.017715,1.369017,0.491772
max,1.942876,1.387188,1.298046,1.697827,0.908649